* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 20px 10px 5px 0px;
    padding: 5px;
}
.product-details {
    margin-left: 30px;
}
.product-name {
    font-weight: 400;
    color: blue;
}
.seller {
    font-size: 14px;
    font-weight: 500;
}
.cart-btn {
    border: none;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: goldenrod;
    padding: 7px 50px;
    cursor: pointer;
}
.cart-btn:hover {
    box-shadow: 2px 1px 3px rgb(150, 143, 143);
}